<footer class="flex-none bg-zinc-200">
  <div class="flex justify-between py-2 px-4">
    <div class="flex space-x-6 md:order-2">
      <!-- Logo MAPtm -->
      <svg class="float-right h-6" viewBox="0 0 134 41">
        <path
          d="M133.244 26.11l-18.962 13.42c-1.4.992-3.56 1.517-5.192 1.517-1.693 0-2.918-1.225-2.918-2.917 0-1.693 1.225-2.917 2.918-2.917.467 0 1.225-.176 1.633-.409l17.387-11.727v-5.065L110.723 6.343c-.408-.291-1.166-.466-1.633-.466-1.693 0-2.918-1.226-2.918-2.918 0-1.692 1.225-2.917 2.918-2.917 1.633 0 3.792.525 5.192 1.517l18.962 13.42c.175.174.7.816.7 1.049v8.974c0 .234-.525.934-.7 1.109"
          fill="#f3624e"></path>
        <path
          d="M111.398 14.978L92.772 1.796v7.161l13.492 9.055v5.065L88.877 34.804c-.408.233-1.166.409-1.633.409-1.692 0-2.917 1.224-2.917 2.917 0 1.692 1.225 2.917 2.917 2.917 1.633 0 3.793-.525 5.192-1.517l18.962-13.42c.176-.174.7-.874.7-1.108v-8.974c0-.233-.524-.875-.7-1.05"
          fill="#f3624e"></path>
        <path
          d="M111.398 26.069l-18.962 13.42c-1.4.99-3.559 1.516-5.192 1.516-1.692 0-2.917-1.225-2.917-2.917 0-1.693 1.225-2.917 2.917-2.917.467 0 1.225-.176 1.633-.41l17.387-11.726V17.97L88.877 6.3c-.408-.29-1.166-.465-1.633-.465-1.692 0-2.917-1.226-2.917-2.918C84.327 1.225 85.552 0 87.244 0c1.633 0 3.793.525 5.192 1.517l18.962 13.42c.176.174.7.816.7 1.049v8.974c0 .234-.524.934-.7 1.109"
          fill="#f3624e"></path>
        <path
          d="M133.244 26.069l-18.962 13.42c-1.4.99-3.56 1.516-5.192 1.516-1.693 0-2.918-1.225-2.918-2.917 0-1.693 1.225-2.917 2.918-2.917.467 0 1.225-.176 1.633-.41l17.387-11.726V17.97L110.723 6.3c-.408-.29-1.166-.465-1.633-.465-1.693 0-2.918-1.226-2.918-2.918 0-1.692 1.225-2.917 2.918-2.917 1.633 0 3.792.525 5.192 1.517l18.962 13.42c.175.174.7.816.7 1.049v8.974c0 .234-.525.934-.7 1.109"
          fill="#f3624e"></path>
        <path
          d="M56.94 26.42H40.837v-4.26c0-2.042.875-3.209 1.809-5.542L47.138 5.94h3.443c.874 1.984 4.9 11.027 4.9 11.027.934 2.159 1.459 4.143 1.459 5.193zM87.121.105H72.477c-.016 0-.032.005-.048.005-.19.001-.366.024-.538.053a2.689 2.689 0 00-1.403.667l-.033.03a2.567 2.567 0 00-.285.315c-.045.059-.09.118-.13.18-.05.076-.094.157-.137.239a2.766 2.766 0 00-.13.285c-.035.087-.061.18-.088.275-.023.084-.048.168-.065.254a4.239 4.239 0 00-.044.311c-.005.058-.007.116-.009.174-.002.043-.007.084-.007.129v.073c.028 1.434.982 2.844 2.876 2.844h14.686c2.392 0 4.376 1.984 4.376 4.376v2.917c0 2.451-1.984 4.434-4.376 4.434l-.653.004H72.442c-1.89 0-2.846 1.405-2.882 2.837v14.776h-6.785V22.16c0-1.983-.817-4.26-1.984-7.06L55.715 2.848c-.584-1.4-.934-2.742-3.209-2.742h-7.293c-1.809 0-2.509 1.283-3.15 2.742L36.811 15.1c-1.284 2.976-1.81 5.368-1.81 7.06v4.22h-7.406V3.023c0-3.442-4.142-3.559-5.66-1.167L13.77 14.81 5.659 1.856C4.084-.536 0-.419 0 3.023v35.123c0 3.85 5.834 3.85 5.834 0V13.175L10.385 20c.408.525.408 1.225.408 2.042v.583c0 2.1 1.517 3.034 2.976 3.034 1.517 0 3.034-.933 3.034-3.034v-.583c0-.817 0-1.517.35-2.042l4.609-6.826V29.25c0 2.016 1.598 2.966 3.122 2.871h10.119v5.966c0 3.909 5.834 3.909 5.834 0v-5.835H56.94v5.835c0 1.952 1.456 2.93 2.913 2.93v.007h12.523c.068.002.135.002.204 0h.056v-.004c1.404-.067 2.76-1.02 2.76-2.875V23.502H87.12c5.66 0 10.21-4.61 10.21-10.269v-2.917c0-5.66-4.55-10.21-10.21-10.21"
          fill="#231f20"></path>
        <path d="M75.395 23.505h5.502v-.003h-5.502z" fill="#231f20"></path>
      </svg>
    </div>
    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-center text-base text-zinc-400">
        <!-- TODO: content of footer -->
      </p>
    </div>
  </div>
</footer>
