---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="SubPage1" page="subpage1">
  <h1 class="text-xl font-medium">Welcome to the Taxonomy subpage 1!</h1>

  <p class="mt-2">
    Go to:
    <a class="text-blue-700 hover:underline" href="/">home page</a>
  </p>
</Layout>
