---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Home" page="home">
  <h1 class="text-xl font-medium">Welcome to the Taxonomy home page!</h1>

  <p class="mt-2">
    Go to:
    <a class="text-blue-700 hover:underline" href="/taxonomy/page1">page 1</a>
  </p>
</Layout>
